.appGrid {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

svg { transition: all 80ms var(--quad) 20ms; }

.appTop {
  box-sizing: border-box;
  /* border: 2px solid red; */
  width: 100%;
}
.appBottom {
  box-sizing: border-box;
  /* border: 2px solid blue; */
  width: 100%;
}
.screen {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* display: grid;
  grid-template-rows: 1fr 8fr;
  grid-row-gap: .5rem; */
}
.browser-wrap {
  /* height: 95vh; */
}

.embed-container {
    position: relative;
    /* padding-bottom: 56.25%; */
    height: 85vh;
    width: 96vw;
    overflow: hidden;
    max-width: 100%;
    /* width: 100%;
    height: calc(var(--panel-height)-3rem); */
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.coord-grid {
  box-sizing: border-box;
  width: 4rem;
  margin-left: .5rem;
  display: flex;
  flex-wrap: nowrap;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .5rem; */
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.icon-wrap {
  padding: .25rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wrap-input {
  box-sizing: border-box;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 1rem;
  font-family: 'Rubik';
  width: 99%;
  height: 2.5rem;
}

[class^="input-"] {
  width: calc(100% - 4rem);
  border-style: solid;
  border-width: 0px;
  border-radius: .25rem;
  /* margin: 0px .25rem; */
  padding: .5rem .5rem;
  /* margin-top: .5rem; */
}

.coord-grid > [class^="input-"] {
  width: 48%;
}

.coord-grid > [class^="input-"]:first-child {
  margin-right: .5rem;
}

.input-active {
  border-color: var(--color-border);
  background-color: var(--color-input-idle);
  color: var(--color-text-default);
  transition: all 80ms var(--quad) 20ms;
}
.input-idle {
  border-color: var(--color-text-disabled);
  background-color: var(--color-button-disabled);
  color: var(--color-text-disabled);
  transition: all 80ms var(--quad) 20ms;
}
 .input-active:focus, .input-idle:focus {
  background-color: var(--color-input-focus);
  color: var(--color-text-active);
}
textarea {
  resize: none;
  overflow: hidden;
}